<html>
<head>
    <title>Struktur Tabel di HTML</title>
    <style>
      body{
        background: orange;
        color: black;
      }
    </style>

</head>
<body>
</html>

{% extends 'base.html'%}
{% block kotak %}
<h1>Daily Routine</h1>

<table border="1" cellpadding="1" cellspacing="1">
<caption> Tabel Daily Routine</caption>
<thead>
    <tr>
        <th> Time </th>
        <th> Hari </th>
        <th> My Routine </th>
    </tr>
</thead>
<tfoot>
    <tr>
        <td> 06:00 sd 11:50 </td>
        <td> Senin </td>
        <td> Bersih-bersih, 
            memasak, 
            mandi,
            sarapan pagi, 
            berangkat kuiah, 
            pulang dari kampus, 
            makan siang, 
            mandi, 
            sholat, dan tidur siang</td>
    </tr>
    <tr>
        <td> 06:00 sd 12:30 </td>
        <td> Selasa </td>
        <td>Bangun Tidur, bersih bersih, cuci piring, pergi ke kampus, pulang dari kampus, mandi, sholat, baca ebook </td>
    </tr>    
    <tr> 
        <td> 06:00 sd 16:00 </td>
        <td> Rabu </td>
        <td>Seperi biasa melakukan pekerjaan rumah, dan siang kuliah sampai sore</td>
    </tr> 
    <tr>
        <td> 06:00 sd 17:00 </td>
        <td> Kamis </td>
        <td>Free kuliah libur, bersih bersih rumah, mandi, sholat dhuha, sarapan pagi, cuci piring, bantu Ibu jaga toko, lihat youtube sambil belajar dll</td>
    </tr>
    <tr>
        <td> 06:00 sd 14:00 </td>
        <td> Jum'at</td>
        <td>sholat dhuha, nyuci baju, beresin kamar, ngerjain tugas, dan pergi ke kampus sampai jam 2 siang.</td>
    </tr>
    <tr>
        <td> 07:15 sd 09:00 </td>
        <td> Sabtu </td>
        <td>Free tidak ada kegiatan kampus, nyantai di rumah dengan meluangkan waktu baca webtoon</td>
    </tr>
    <tr>
        <td>06:00 sd 09:00</td>    
        <td> Minggu </td>
        <td> Bangun pagi, olahraga, mandi, sarapan, bersih bersih, bantuin orang tua di sawah dll</td>
    </tr>
    </tfoot>
</table>
</body>
</html>
{% endblock kotak %}
    