<!DOCTYPE html>
<html>
<head>
    <title>Background html</title>
    <style>
      body{
        background: orange;
        color: black;
      }
    </style>

</head>
<body>
</html>

{% extends 'base.html' %}
{%block judul %}
<h1 id="judul">MyDaily</h1>
{% endblock judul %}
{% block kotak %}
<p>Welcome to Myweb</p>
<p>Assalamualikum wr.wb.
Perkenalkan nama saya Fitriyatul Aini, saya mahasiswa Teknik dari prodi sistem informasi. Kegiatan yang saya lakukan di pagi hari setelah bangun tidur,pergi ke dapur untuk memasak dan menyiapkan makanan untuk keluarga saya.
Kemudian saya pergi buat bersih-bersih kamar habis itu nyapu rumah dan halaman juga masih banyak lagi sihh hehe...
{% endblock kotak %}