<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta hrrp-equiv="X-UA-compatible" content="IE=edge">
    <meta nama="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/myweb">MyDaily</a> | <a href="/mywebs">Detil MyDaily</a>
    {% block judul %}
    {% endblock judul %}
    {% block kotak %}
    {% endblock kotak %}

    </body>
    </html>
